@import 'tachyons';
@import './_framework';

/**
/* app.css
/*
/**/

@alias {
  bg: background;
  bgc: background-color;
  bgi: background-image;
  c: color;
  d: display;

  ff: font-family;
  fs: font-size;
  lh: line-height;
  ls: letter-spacing;

  h: height;
  w: width;
}

body {
  ff: sans-serif;
}

.height {
  h: 2rem;
}

.regular {
  lh: 2rem;
}

p {
  bgc: rgba(#fff, .75);
  @insert .regular;
  @insert .w-100;
  @insert .db;
}
