@import 'tachyons';

/**
/* app.css
/*
/**/

@alias {
  c: color;
  bg: background;
  bgc: background-color;
  bgi: background-image;

  ff: font-family;
  fs: font-size;
  lh: line-height;
  ls: letter-spacing;

  h: height;
  w: width;
}

p {
  c: rgba(#f00, .75);
  c: gold;
}
