-let name = 'App name 1.0';
-let creator = 'appstudio';
-let slogan = "Enter description here.";
-let tagline = slogan + " Enter tagline here.";
doctype html
html
  head
    meta(charset='utf-8')
    title #{ name }
    meta(name='author' content=creator)
    meta(name='description' content=tagline)
    meta(name='viewport' content='initial-scale=1.0')
    link(type='text/css' rel='stylesheet' href='app.css')
  body
    App
    script(src='app.js')
    script(src='vendor.js')
    include _init.pug
