// riot utilities

// <Txt txt=''>
Txt
  p.mv0 { opts.txt }

// <List list=[] class_ul='' class_li='' />
List
  ul(if='{ opts.list }' class='{ opts.class_ul }')
    li(each='{ l, i in opts.list }' key='{ i }' class='{ opts.class_li }')
      yield/
